<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>VueJS Les bases.</title>
</head>

<body>
  <div  id="app">
    <div class="container">
      <div class="row">
        <p class="jumbotron">Login : <input type="text" v-model="users"/> Vous etes connecte en tant que {{ users }}</p>
      </div>

        <h1 class="display-4" v-if="orders.length > 0">Produits commandes</h1>
        <div class="row">
          <product-sheet v-for="order in orders" v-bind:iditem="order" role="recap"></product-sheet>
        </div>

        <h1 v-bind:class="display">Produits disponibles</h1>
        <div class="row">
          <product-sheet v-for="product in products" v-bind:iditem="product" v-on:order_passed="ordering" role="order"></product-sheet>
        </div>

    </div>
  </div>

  <script>
    Vue.component('product-sheet',{
      template: `
      <div class="col-3">
        <p class="jumbotron"> {{ iditem }}<br>
          <button v-on:click="do_order(iditem)" v-if="role == 'order'">Commander</button>
        </p>
      </div>
      `,
      props: ['iditem', 'role'],
      methods:{
        do_order: function(product){ 
          this.$emit('order_passed', product)
        }
      }
    })
    var app = new Vue({
      el: "#app",
      data: {
        users: "Valentin",
        products: ["Pizza", "Hamburger", "Cheeseburger", "Kebap"],
        orders: [],
        display: "display-4"
      },
      methods:{
        ordering: function(product){
          this.orders.push(product);
        }
      }
    })

  </script>
  
</body>
</html>